# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\pytorch codes\Swin-Unet-original\Swin-Unet-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
